@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
.app-background-screen{
  background-color: black;

}
.header{
  height: 75px;
  width: 100vw;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto Mono', monospace;
}

.header-menu > div {
    width: fit-content;
    border-bottom: 1px solid white;
    cursor: pointer;
}



.home-landing-screen{
  /* background-image: url('./images/Homeportfolio.jpg'); */
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #404040;
}
.home-name-landing{
  color: white;
  font-size: 6em;
  margin-right: 20px;
}
